.header {
  margin: 0px;
  border-bottom: 1px solid #ececec;
  &__list {
    display: flex;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 93px;
    color: $title-text-color;
    font-family: $font-Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &.link span {
      color: $accent-color;
    }
  }
}

.site-nav {
  &__list {
    display: flex;
    align-items: center;
  }
  &__menu,
  .auth-nav__menu {
    position: relative;
  }
  &__list {
    .list__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__link {
    color: $accent-color;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;
      background: $accent-color;
      width: 100%;
      height: 5px;
      box-shadow: $box-shadow, $box-shadow;
      border-radius: 2px;
      transition: opacity $time-function $timing-function;
    }
  }
  &__list .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $time-function $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.auth-nav {
  display: flex;
  &.list {
    margin-left: auto;
  }
  &__menu:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $time-function $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
